.main_container{
    background-color: rgb(36, 33, 33);
    margin:0;
    padding:0;
    min-height: 600px;
    color: white;
    padding-top: 30px;
    
}

.tittle_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.tittle_container h1{
    color: whitesmoke;
    text-align: center;
    font-size: 3em;
    margin-right: 10px;
}

.tittle_container h1 span {
    color: rgb(124, 38, 38);
}

.pokemon_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}